#<Files ~ "^\.(htaccess|htpasswd)$">
#deny from all
#</Files>
#
#<IfModule mod_expires.c>
#    ExpiresActive on
#
#    ExpiresByType image/jpg "access plus 1 month"
#    ExpiresByType image/jpeg "access plus 1 month"
#    ExpiresByType image/gif "access plus 1 month"
#    ExpiresByType image/png "access plus 1 month"
#</IfModule>
#
#<IfModule mod_headers.c>
#  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
#    Header set Access-Control-Allow-Origin "*"
#  </FilesMatch>
#</IfModule>

#Set Directory
DirectoryIndex index.php index.html

## Enable Mod Rewrite, this is only required once in each .htaccess file
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(en|ru)(/?)$ index.php?lang_name=$1 [L,QSA]

#Pages
#RewriteRule ^(/?)$ index.php?do=index [L,QSA]

RewriteRule ^projects(/?)$ projects.php [L,QSA]
RewriteRule ^projects/([0-9]+)(/?)$ projects.php?page=$1 [L,QSA]
RewriteRule ^project/(.*)-([0-9]+)(/?)$ project.php?slug=$1&id=$2 [L,QSA]

RewriteRule ^about(/?)$ about.php [L,QSA]
RewriteRule ^services(/?)$ services.php [L,QSA]
RewriteRule ^hvac(/?)$ hvac.php [L,QSA]
RewriteRule ^fire-protection(/?)$ fire-protection.php [L,QSA]
RewriteRule ^management(/?)$ management.php [L,QSA]
RewriteRule ^montaj(/?)$ montaj.php [L,QSA]
RewriteRule ^contact(/?)$ contact.php [L,QSA]

RewriteRule ^404(/?)$ index.php?do=404 [L,QSA]

## Forbid access to system directory
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /upload/(.*)\ HTTP/ [NC]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /ermanager/browser/(.*)\ HTTP/ [NC]

## Forbid file requested has php extension
RewriteCond %{REQUEST_FILENAME} ^.+\.php$
## Forbid Access
RewriteRule .* - [F,NS,L]

# Enable ETag
#FileETag MTime Size
#
#
## Set expiration header
#ExpiresActive on
#ExpiresDefault "access plus 1 year"
#ExpiresByType image/gif A2592000
#ExpiresByType image/png A2592000
#ExpiresByType image/jpeg A2592000
#ExpiresByType text/css A2592000
#ExpiresByType text/javascript A2592000
#ExpiresByType text/js A2592000
#
#
## Compress some text file types
#AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml application/x-javascript text/javascript application/javascript
#
#
## Deactivate compression for buggy browsers
#BrowserMatch ^Mozilla/4 gzip-only-text/html
#BrowserMatch ^Mozilla/4\.0[678] no-gzip
#BrowserMatch \bMSIE !no-gzip !gzip-only-text/html